/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */


body {
	font-family: 'Lato', sans-serif;
	background-color: #efefe8;
}


p {
	font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 80px;
  margin-left: 80px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 40px;
	padding-top: 40px;
}

hr { 
	color: #eeb6d4;
	height: 8px;
    margin-left: auto;
    margin-right: auto;
    opacity: 100%;
}


/* Changing the background colour for the header */

header {
	font-family: 'Playfair Display', serif;
	color: #efefe8;
	background-color: #05395A;
	margin-top: 80px;
  margin-bottom: 80px;
}

h1, .h1 {
    font-size: 55px;
	font-weight: 700
}

/* Changing the background color for the navigation bar */

.navbar {
	color: #efefe8;
	background-color: #05395a;
}

.nav-link {
	color: #efefe8
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

.bg-body {
    background-color: rgba(4, 57, 90, 1)!important;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #05395a;
	font-weight: bold;
}



.post-masonry {
  margin-bottom: 30px;
}
.post-masonry .blog-thumb {
  position: relative;
  overflow: hidden;
}
.post-masonry .blog-thumb img {
  width: 100%;
}
.post-masonry .blog-thumb:hover .overlay-b {
  opacity: 1;
  visibility: visible;
}
.post-masonry .blog-body h3.post-title {
  font-size: 18px;
  font-weight: normal;
}
.post-masonry .blog-body h3.post-title a {
  color: #2c2c2c;
}
.post-masonry .blog-body h3.post-title a:hover {
  color: #f69730;
}
.post-masonry .blog-body span {
  display: inline-block;
  margin: 10px 0;
}

.blog-image {
  overflow: hidden;
}
.blog-image img {
  width: 100%;
}

.blog-info h2.blog-title {
  font-size: 2em;
  font-weight: normal;
}
.blog-info span.blog-meta {
  margin: 20px 0;
  display: block;
}
@media screen and (max-width: 768px) {
  .blog-info h2.blog-title {
    font-size: 1.6em;
  }
}

.blog-tags {
  margin-top: 30px;
}
.blog-tags span {
  font-family: "Roboto Slab", serif;
}
.blog-tags a {
  display: inline-block;
  margin: 0 5px;
}
.blog-tags a:after {
  content: ',';
  color: #aaaaaa;
}

.pagination {
  margin-top: 40px;
}
.pagination ul li {
  display: inline-block;
  margin: 0 2px;
}
.pagination ul li a {
  background: white;
  border-bottom: 1px solid #d5d5d5;
  padding: 10px 12px;
  color: #2c2c2c;
}
.pagination ul li a:active {
  border-bottom: none;
}
.pagination ul li a.active {
  background-color: #f69730;
  color: white;
  border-bottom: 1px solid #e97e0a;
}

